@font-face {
    font-family:'Open Sans';
    src: url('OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OSP';
    src: url('OSP-DIN.ttf');
}

@font-face {
    font-family: 'Times';
    src: url('times.ttf');
}

html{
    font-family:'Open Sans';
}

h1{
    font-family:'OSP';
}

/*h2, h3{
    font-family:'Times';
}*/

div.body-container{
    width:800px;
    position:relative;
    margin-top:3%!important;
    left:50%;
    transform: translate(-50%, 0);
}
p{
    color: #777;
}

a, a:visited, a:active{
    color: #66d;
    text-decoration: none;
    transition: 0.1s;
}

a:hover{
    color: #9999ef;
    transition: 0.1s;
}

@media only screen and (max-width:830px){
    div.body-container{
        width:calc(100% - 30px);
    }
}