div.link-banner-container{
    background-size:cover;
}

div.link-banner-title{
    font-family: 'OSP';
    text-align: center;
    color: white;
    text-shadow:1px 1px 6px #000;
    font-size: 1000%;
    padding-top:50px;
}

div.banner-button{
    width:180px;
    position:relative;
    left:50%;
    transform: translate(-50%, 0);

    font-family: 'OSP';
    background-color:#fff;
    color: #000;
    font-size: 26px;
    text-align:center;

    padding:10px 10px 10px 10px;
    margin-bottom:50px;
    cursor:pointer;
    transition:0.2s;
}

div.banner-button:hover{
    background-color:#000;
    color:#fff;
    letter-spacing: 3px;
}

div.link-banner-desc{
    padding:50px 30px 50px 30px;
    width:calc(100% - 60px);
    background-color:rgba(0,0,0,0.7);
    color:#fff;
    text-align:center;
}

@media only screen and (max-width:700px){

    div.link-banner-title{
        font-size:600%;
    }

    div.banner-button{
        width:110px;
    }
}